.cabeçalho {
    background-color: rgb(241, 8, 125) ;
}
.h1-cabeçalho-título1 {
    color: rgb(252, 255, 72); 
}
.h2cabeçalho-título2 {
    color: rgba(150, 18, 226, 0.877); 
}
.h3cabeçalho-título3 {
    color: rgba(230, 103, 158, 0.808;
}
.h4cabeçalho-título4 {
    color: rgba(230, 103, 158, 0.808);
}
li {
    color: rgb(16, 83, 141);
}
Página-Principal {
    color: rgb(16, 83, 141);
}
Quem-Somos {
    color: rgb(16, 83, 141);
