.cabeçalho {
    background-color: rgb(241, 8, 125) ; font-family: fantasy; font-style: italic; font-size: 20px;
}
.h1-cabeçalho-título1 {
    color: rgb(252, 255, 72); font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabeçalho-título2 {
    color: rgba(150, 18, 226, 0.877); font-family: monospace;
}
p {
    color: rgb(248, 18, 118);
}
li {
    color: rgb(16, 83, 141);
}
Página-Principal {
    color: rgb(16, 83, 141);
}
Quem-Somos {
    color: rgb(16, 83, 141);
